# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
ENV/

# Database (DO NOT upload your local DB)
db.sqlite3

# Sensitive Settings
.env
*.env

# Media and Static
/media/
/static_root/

# OS specific files
.DS_Store
Thumbs.db